body {
  background-color: skyblue;
  font-family: serif;
  column-gap: normal;
  columns: 3;
}

img {
  width: 300px;
}

.column {
  float: center;
  width: 300px;
}

.header {
  margin-bottom: 50px;
  padding-bottom: 50px;
}
