body {
  background-color: skyblue;
  font-family: serif;
  color: white;
}

img {
  width: 300px;
}

.column {
  float: center;
  width: 300px;
  height: 1200px;
}

.entries {
  columns: 3;
}

.header {
  align: center;
  margin: 20px;
  padding: 20px
}

.sidebar {
  float:left;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: center;
    padding: 20px;
  }
}